.bonuses
    background: $gray
    padding-top: 100px
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 30px
    @media (max-width: 1012px)
        grid-template-columns: 1fr 
    .subscribe
        background: $accent        
        color: #fff
        display: flex 
        align-items: center
        justify-content: space-between
        padding: 40px
        @media (max-width: 500px)
            padding: 24px  
        @media (max-width: 475px)
            flex-direction: column  
            .icon
                margin-top: 10px   
        .subscribe-text
            position: relative            
            width: 250px  
            p
                font-weight: normal
                font-size: 14px
                line-height: 20px
                margin: $gutter 0            
            .email
                border-radius: 30px
                background: #fff
                width: 225px
                height: 35px
                padding: 15px
                border: none
                padding-left: 20px

                &::placeholder
                    font-size: 14px
                    line-height: 16px
                    color: #C4C4C4 
    .our-shops
        background: $accent
        height: 100%
        color: #fff
        display: flex 
        align-items: center
        justify-content: space-between
        padding: 40px
        @media (max-width: 500px)
            padding: 24px
        @media (max-width: 475px)
            flex-direction: column 
            .icon-shop
                margin-top: 10px 
        .shops-info            
            h4
                margin-bottom: 20px
            p
                width: 200px
                font-weight: normal
                font-size: 14px
                line-height: 20px 
        .btn-map
            color: #ffffff
            border: 2px solid #ffffff
            border-radius: 30px
            width: 170px
            height: 35px
            display: block
            text-align: center
            padding-top: 3px   

.brands
    padding-top: 100px
    background: $gray
    display: flex 
    flex-wrap: wrap
     
.brend
    display: flex
    align-items: center
    justify-content: center
    width: 25%
    border: 1px solid $gray
    height: 150px
    background-color: #fff
    @media (max-width: 900px)
        width: 33%
    @media (max-width: 880px)
        width: 50%
    img 
        max-width: 150px
