.footer
    background: #fff
    margin-top: 60px
    .site-map        
        display: flex
        justify-content: space-around
        
    .category-card
        margin: 50px 0
        flex-wrap: wrap   
        &:last-child
            @media (max-width: 780px)
                display: none
            
.heding-category
    margin-bottom: 35px
.category
    display: block
    font-size: 12px
    color: #828282
    line-height: 28px
.contacts
    display: flex
    align-items: center
    justify-content: space-between
.social
    margin-right: 20px
.socnet
    margin: 20px 0
.adress
    margin: 20px 0
    height: 40px
    text-align: center
    padding: 15px 0
    font-size: 14px
    line-height: 16px
.copyright
    display: flex
    justify-content: space-between
    font-size: 12px
    line-height: 14px
    text-align: right
    height: 64px
    padding: 25px 0
    color: #828282
    a
        color: #828282
.bg-copyright
    background: $gray