.top-line
    background: $gray
    .top-line-nav
        width: 25%
        margin: 0 auto
        font-size: 14px
        line-height: 16px
        padding: 0
        list-style-type: none
        li
            padding: 16px 0
            text-align: center
            margin: 0 auto
.horizontline
    background: $gray
    opacity: 0.2
.navbar-nav
    list-style-type: none
    
    padding: 0
    width: 70%
    margin: 0 auto    
    li
        padding: 16px 0
        margin: 0 auto
        z-index: 3

.serch
    background: $gray url(../img/serch.png) no-repeat
    border-radius: 40px
    height: 40px
    margin: 20px 0
    border: none
    background-position: left 9px 
    border-left: 8px solid transparent 
    padding-left: 24px  
    #before        
        background-image: 
        width: 20px
        height: 20px
        display: block
        margin-top: 10px;
        margin-left: 10px;       

.logo-name
    height: 40px
    font-size: 36px
    line-height: 42px
    letter-spacing: 0.1em
    color: $accent
    font-weight: bold
    margin: 20px 0
.phone
    margin: 20px 0
    height: 40px
    text-align: center
    padding: 8px 0 
.btn-call
    margin: 20px 0
    border: 2px solid $accent
    box-sizing: border-box
    border-radius: 40px
    text-align: center
    padding: 5px 0
    &:hover
        cursor: pointer 
.main-page    
    background-color: $accent
    height: 65vh
    position: relative
    &::before
        content: ''
        display: block  
        height: 800px
        width: 800px        
        border-radius: 50%
        background: rgba(255, 255, 255, 0.3);
        position: absolute
        right: 20%
        z-index: 1
        top: -13%
    &::after
        content: ''
        z-index: 1
        display: block  
        height: 700px
        width: 700px        
        border-radius: 50%
        background: rgba(255, 255, 255, 0.3);
        position: absolute
        right: 22.5%
        top: -6%        
.navigation
    margin-bottom: 9px
    z-index: 5
.chair    
    width: 584px
    height: 584px
    position: absolute
    left: 43%
    top: 40px
    z-index: 3
.text
    color: #fff
    h1
        font-style: normal
        font-weight: bold
        font-size: 48px
        line-height: 56px
        margin-top: 50%
    p
        font-weight: normal
        font-size: 14px
        line-height: 20px
        margin-top: 70px
        margin-bottom: 70px
    a
        color: #fff
        width: 170px
        height: 40px
        border: 2px solid #ffffff
        border-radius: 40px
        padding: 0.75em 3em
        
 
